.PaginationContainer{
    background-color: lightgrey;

}

.PaginationContainer ul{
    list-style-type: none;


}


.PaginationContainer ul li{
    float: left;
    margin: 20px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;

  }

.PaginationContainer ul  li button{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }


  
.PaginationContainer ul li button:hover {
    background-color: #111111;
  }