.ProductContainer{
    border: 1px black solid;
    display: block;
    justify-content: space-between;
    height: 170px;
    padding: 5px;
    position: relative;

}


.ProductImg{
    margin: 10px;
    
}


.ProductText{
    margin-left: 20px;
    height: calc( 100% - 62px );
    width: calc( 100% - 200px);

}


.ProductInfo{
    display: flex;
    width: 100%;
    height: 100%; 
}

.productDescription{
    line-height: 22px;
}

.productDescriptionContainer{
    max-height: 66px;
    overflow-y: scroll;

}

.ProductDeleteBtn{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 36px;
    width: 86px;
    box-shadow: 0 3px #888888;
    background-color: orange;
    border: 4px black solid;
    align-self:flex-end;
    margin: 15px;
}