.logo{
    margin-left: 15px;
}

.header{
    background-color: lightblue;
    min-height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items:center ;
}

.pageWrapper{
    width: 100%;
}




.ProductsListContainer>div {
    border:1px solid #000;
}





@media only screen and (max-width: 1000px) {
    .itemsContainer{
        flex-direction:column ;
        order: 2;
        flex-grow: 2;
    
    }


    .ProductsListContainer{
        flex-flow: row wrap;
        display:flex;
    }

}




@media only screen and (min-width: 1001px) {
    .itemsContainer{
        flex-direction:column ;
        flex-grow: 2;
        min-width: 600px;

    }
 
    .ProductsListContainer{
        display: flex;
        flex-flow: row nowrap;
    }

}


.controllerContainer{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.addProductBtn{
    height: 36px;
    box-shadow: 0 3px #888888;
    background-color: lightgreen;
    border: 4px black solid;
    margin-right: 15px;
    width: 130px;
}


.searchInput{
    width: 90%;
    margin-left: 5px;
    height: 36px;
    width: 130px;
}

.searchInputContainer{
    margin-left:5px ;
}
.sortByContainer{
}


.noDataMsg{
    margin: auto;
}

.loadingContainer{
    font-size: 1.5rem;
    color: green;
    margin: auto;
}

.loading{
    position: absolute;
    right: 50%;
    margin-top: 10px;
}

.noDataMsg{
    font-size: 3rem;
    color: red;
    margin-top: 20px;


}

.sortBy{
    height: 36px;
    width: 130px;
}


.filterContainer{
    display: inline-flex;
}

